@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.intro{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #0003, #0003), url(../img/akira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
/* ШАПКА НА ГЛАВНОЙ СТРАНИЦЕ */
header.tv-header{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    height: 100px;
}
/* ШАПКА НА ВСЕХ СТРАНИЦАХ */
header{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 100px;
}
/* ЛОГОТИП В ШАПКЕ */
.logo{
    font-size: 24px;
    letter-spacing: .07em;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}
/* МЕНЮ ШАПКИ */
ul.menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}
li.item-menu:not(:last-child){
    margin-right: 100px;
}
a.link-menu{
    text-decoration: none;
    color: #fff;
}
/* КОНЕЦ МЕНЮ ШАПКИ */
#burger{
    display: none;
    cursor: pointer;
}
/* ВСПЛЫВАЮЩЕЕ ОКНО - ВХОД */
.popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0006;
    top: 0;
    left: 0;
    z-index: 999;
}
.popup form{
    position: relative;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    background-color: #fff;
    padding: 25px;
}
.popup form h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.popup form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 5px;
    outline: none;
}
.popup form input[type=text]:hover,
.popup form input[type=password]:hover{
    border: 1px solid #000;
    padding: 0 6px;
}
.popup form input[type=text]:focus,
.popup form input[type=password]:active{
    border: 1px solid #000;
    padding: 0 6px;
}
.popup form input[type=submit]{
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: box-shadow .3s ease-out, transform .3s ease-out;
}
.popup form input[type=submit]:hover{
    box-shadow: 0 5px 5px #0007;
    transform: translateY(-2px);
}
.popup .btn-close{
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    color: #a0a0a0;
    position: absolute;
    right: 25px;
}
.popup .btn-close:hover{
    color: rgb(240, 37, 37)
}
.none{
    display: none;
}
/* КОНЕЦ ВСПЛЫВАЮЩЕГО ОКНА */
/* ЗАГОЛОВОК В НАЧАЛЬНОЙ ИНТРО */
.intro-title{
    align-self: center;
    color: #fff;
    font-size: 144px;
    margin-top: 150px;
    line-height: 65%;
    text-shadow: 0 0 50px #000;
}
/* ВРЕМЯ В ИНТРО */
.intro-time{
    align-self: center;
    margin-top: 100px;
    width: 500px;
    height: 100px;
    background-color: rgba(35, 105, 241, .4);
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    line-height: 65%;
    border: 7px solid #fff;
    box-shadow: 0 0 20px #000;
}
/* НАЗВАНИЕ РАЗДЕЛА */
.title-section{
    width: 100%;
    height: 200px;
    font-size: 48px;
    line-height: 65%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    box-shadow: 0 0 10px #0003;
}
/* ЛИНИЯ ДНЕЙ */
.day-line{
    height: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 15%;
    width: 100%;
    display: flex;
    font-size: 24px;
    align-items: center;
}
/* ВСЕ ДНИ */
.days{
    font-size: 18px;
    display: flex;
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
}
/* ДЕНЬ */
.day{
    text-decoration: none;
    color: #000
}
/* СЕГОДНЕШНИЙ ДЕНЬ */
.day.now{
    color: #4211f5;
    font-weight: 900;
}
/* ТЕЛЕПРОГРАММЫ */
.programs{
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
/* ТЕЛЕПРОГРАММА */
.program{
    height: 150px;
    width: 100%;
    position: relative;
}
.program:not(:first-child),
.program:not(:last-child){
    margin-top: 30px;
}
.program img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.program .time{
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 5px 1px;
    background-color: #fff;
    line-height: 100%;
    font-size: 48px;
    font-weight: bold;
    word-wrap: break-word;
    width: 60px;
    text-align: center;
}
.program .title{
    position: absolute;
    top: 50px;
    height: 50px;
    left: calc(25px + 60px);
    margin-left: 40px;
    line-height: 100%;
    font-size: 48px;
    background-color: #fff;
    padding: 1px 10px;
    font-weight: 700;
    width: fit-content;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.program .seria{
    position: absolute;
    top: 31px;
    right: 25px;
    font-size: 52px;
    width: 70px;
    height: 88px;
    line-height: 120%;
    font-weight: bold;
    word-wrap: break-word;
    background-color: #fff;
    padding: 5px;
    text-align: center;
}
.program .seria:after{
    content: "серия";
    font-size: 20px;
    position: relative;
    top: -40px;
    text-align: center;
}
.program .type{
    position: absolute;
    top: 53px;
    right: 25px;
    font-size: 52px;
    font-weight: bold;
    font-size: 36px;
    background-color: #fff;
    padding: 0 5px;
}
/* РАЗДЕЛ НОВОСТИ */
.news{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
}
/* НОВОСТЬ */
.tiding{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    margin-bottom: 16px;
}
.tiding img{
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 5px;
}
.tiding .title{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tiding .description{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}
/* РАЗДЕЛ КОНТАКТЫ */
.contacts{
    display: flex;
    padding: 25px;
    background-color: #fff;
    margin: 100px 15%;
    border-radius: 5px;
    justify-content: space-between;
}
/* КОЛОНКА ИНФО */
.info{
    line-height: 1.5;
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
span.title{
    font-size: 18px;
    font-weight: bold;
}
span.data{
    margin-top: 20px;
}
.info a{
    color: black;
    text-decoration: none;
    width: fit-content;
}
.info a:hover{
    color: #f00;
}
.soc{
    display: flex;
    margin-top: 5px;
    list-style: none;
    font-size: 30px;
}
.soc li{
    margin-right: 20px;
}
.soc .tg:hover{
    color: #0088cc
}
.soc .vk:hover{
    color: #4d7198;
}
.soc .fb:hover{
    color: #3b5998;
}
/* КОЛОНКА ФОРМЫ ОБРАТНОЙ СВЯЗИ */
.feedback{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}
.feedback>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.feedback>div label{
    display: flex;
    flex-direction: column;
    width: 49%;
}
.feedback label{
    display: flex;
    flex-direction: column;
}
.feedback>div input,
.feedback textarea{
    border: 5px solid #555;
    outline: none;
    padding: 0 5px;
}
.feedback>div input{
    margin-top: 5px;
    height: 30px;
}
.feedback textarea{
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
}
.btn{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #fff;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: box-shadow .3s ease-out;
}
.btn:hover{
    background-color: #e7e7e7;
}
.btn:active{
    background-color: #e7e7e7;
    box-shadow: 0 0 10px #000 inset;
}
/* ПАНЕЛЬ УПРАВЛЕНИЯ */
.admin-menu{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 100px 15%;
    background-color: #fff;
    border-radius: 5px;
}
.item-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 330px;
    height: 50px;
    border-radius: 5px;
}
.link-admin{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* ПОДВАЛ */
footer{
    width: 100%;
    height: 100px;
    background-color: #e7e7e7;
    box-shadow: 0 0 10px #0003;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: auto auto 0;
}
#btn-up{
    position: fixed;
    background-color: #000;
    color: white;
    font-size: 24px;
    padding: 15px 18px;
    border-radius: 5px;
    right: 25px;
    bottom: 25px;
}
#btn-up.done{
    display: none;
}
@media screen and (max-width: 1440px){
    header,
    header.tv-header,
    .programs,
    .day-line,
    .news{
        padding: 0 10%;
    }

    ul.menu{
        font-size: 16px;
    }
    .intro-title{
        font-size: 100px;
    }
    .intro-time{
        font-size: 36px;
        width: 400px;
    }
    .title-section{
        height: 150px;
        font-size: 36px;
    }
    .tiding{
        width: 350px;
    }
    .tiding img{
        width: 330px;
        height: 330px;
    }
    .tiding .description{
        font-size: 16px;
    }
    .admin-menu{
        flex-direction: column;
    }
    .item-admin{
        width: 100%;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1024px){
    li.item-menu:not(:last-child){
        margin-right: 50px;
    }
}
@media screen and (max-width: 768px){
    header,
    header.tv-header,
    .programs,
    .day-line,
    .news{
        padding: 0 5%;
    }
    .contacts{
        margin: 100px 5%;
    }
    /* BURGER */
    #burger{
        display: block;
        z-index: 999;
    }
    ul.menu{
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.918);
        top: 0;
        left: 0;
        z-index: 150;
    }
    li.item-menu:not(:last-child){
        margin: 0;
    }
    li.item-menu{
        line-height: 2.5;
    }
    .menu-none{
        visibility: hidden;
    }
    .program .title{
        font-size: 36px;
        height: 40px;
        top: 58px;
        left: calc(25px + 30px);
    }
    .tiding{
        width: 100%;
    }
    .tiding img{
        width: 100%;
    }
    .contacts{
        flex-direction: column;
    }
    .info,
    .feedback{
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    .days{
        font-size: 14px;
        text-align: center;
    }
    .program{
        height: 100px;
    }
    .program .time{
        font-size: 24px;
        left: 10px;
        width: 30px;
    }
    .program .title{
        font-size: 24px;
        height: 28px;
        top: 40px;
        left: 12px;
        max-width: 63%;
    }
    .program .seria{
        font-size: 24px;
        word-wrap: normal;
        width: 35px;
        height: 50px;
        right: 10px;
    }
    .program .seria:after{
        font-size: 10px;
        word-wrap: normal;
        top: 12px;
        left: -30px;
    }
    .program .type{
        font-size: 18px;
        top: 43px;
        right: 10px;
    }
    .feedback>div{
        flex-direction: column;
    }
    .feedback>div label{
        width: 100%;
        margin-top: 5px;
    }
}
@media screen and (max-width: 375px){
    .intro-title{
        font-size: 72px;
    }
    .intro-time{
        max-width: 400px;
        width: 90%;
        font-size: 36px;
    }
    .program .title{
        max-width: 63%;
    }
}
@media screen and (max-width: 320px){
    .program .title{
        max-width: 53%;
        padding: 1px 2px;
    }
}